{% extends 'templating.html' %}
{% load static %}
	{% block metatag %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Security Services Kib Technologies |Best Marketing & IT Services Company in India</title>
    <meta name="Description" content="">
    <meta name="Keywords" content="">
    <meta name="author" content="Sumit Tiwari">
    <meta name="publisher" content="Kib Technologies">	
	{% endblock %}
    {% block navtag %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About Us</a></li>
    <li ><a href="{% url 'products' %}">Product</a></li>
    <li class="dropdown current"><a href="#">Services</a>
        <ul>
            <li class="dropdown current"><a href="{% url 'it_services' %}">IT Services</a>
                <ul>
                    <li><a href="{% url 'web_development' %}"> Web Development</a></li>
                    <li><a href="{% url 'mobile_app_development' %}">Mobile App Development</a></li>
                    <li><a href="{% url 'software_development' %}">Software Development</a></li>
                    <li><a href="{% url 'game_development' %}">Game Development</a></li>
                    <li><a href="{% url 'cyber_security' %}">Cyber Security</a></li>
                    
                </ul>
            </li>
           
        </ul>
    </li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
    <li><a href="{% url 'career' %}">Career</a></li> 
    <li><a href="{% url 'contact' %}">Contact Us</a></li> 
    {% endblock %}
	{% block content %}
    <section class="page-banner">
        <div class="image-layer" style="background-image:url({% static 'images/kib_technologies_breadcrums_banner.jpg' %});"></div>
        <div class="shape-1"></div>
        <div class="shape-2"></div>
        <div class="banner-inner">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <h1>Website Development</h1>
                    <div class="page-nav">
                        <ul class="bread-crumb clearfix">
                            <li><a href="index-2.html">Home</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li class="active">Website Development</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="service-details">
                        <div class="main-image image">
                            <img src="images/resource/featured-image-16.jpg" alt="">
                        </div>
                        <div class="text-content">
                            <h3>Website Development</h3>
                            <p>Need something changed or is there something not quite working the way you envisaged?
                                Is your van a little old and tired and need refreshing? Lorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                type and scrambled it to make a type specimen book. It has survived not only five
                                centuries, but also the leap into electronic typesetting, remaining essentially
                                unchanged.</p>
                            <div class="featured">
                                <div class="row clearfix">
                                    <div class="image-col col-md-6 col-sm-12">
                                        <div class="image">
                                            <img src="images/resource/featured-image-17.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="text-col col-md-6 col-sm-12">
                                        <div class="inner">
                                            <h4>planning &amp; strategy</h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.</p>
                                            <ul>
                                                <li>Research beyond the business plan</li>
                                                <li>Marketing options and rates</li>
                                                <li>The ability to turnaround consulting</li>
                                                <li>Customer engagement matters</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>Need something changed or is there something not quite working the way you envisaged?
                                Is your van a little old and tired and need refreshing? Lorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                type and scrambled it to make a type specimen book. It has survived not only five
                                centuries, but also the leap into electronic typesetting, remaining essentially
                                unchanged.</p>
                            <p class="last">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                specimen book. It has survived not only five centuries, but also the leap into
                                electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar blog-sidebar">

                        <div class="sidebar-widget services">
                            <div class="widget-inner">
                                <div class="sidebar-title">
                                    <h4>IT Services</h4>
                                </div>
                                <ul>
                                    <li><a href="{% url 'web_development' %}"> Web Development</a></li>
                                    <li><a href="{% url 'mobile_app_development' %}">Mobile App Development</a></li>
                                    <li><a href="{% url 'software_development' %}">Software Development</a></li>
                                    <li><a href="{% url 'game_development' %}">Game Development</a></li>
                                    <li class="active"><a href="{% url 'cyber_security' %}">Cyber Security</a></li>
                                    
                                </ul>
                            </div>
                        </div>

                        <div class="sidebar-widget services">
                            <div class="widget-inner">
                                <div class="sidebar-title">
                                    <h4>Marketing Services</h4>
                                </div>
                                <ul>
                                    <li><a href="{% url 'cinema_branding' %}">Cinema Branding</a></li>
                                    <li><a href="{% url 'digital_marketing' %}">Digital Marketing</a></li>
                                    <li><a href="{% url 'out_of_home_ads' %}">Out of Home Advertising</a></li>
                                    <li><a href="{% url 'event_managment' %}">Event Managment</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="sidebar-widget call-up">
                            <div class="widget-inner">
                                <div class="sidebar-title">
                                    <h4>need Linoor help?</h4>
                                </div>
                                <div class="text">Prefer speaking with a human to filling out a form? call corporate
                                    office and we will connect you with a team member who can help.</div>
                                <div class="phone"><a href="tel:666888000"><span class="icon flaticon-call"></span>666 888 000</a></div>
                            </div>
                        </div>


                    </aside>
                </div>

            </div>
        </div>
    </div>
    <section class="call-to-section-two alternate">
        <div class="auto-container">
            <div class="inner clearfix">
                <h2>We’re Ready to Bring Bigger <br>&amp; Stronger Projects</h2>
                <div class="link-box">
                    <a class="theme-btn btn-style-two" href="about.html">
                        <i class="btn-curve"></i>
                        <span class="btn-title">Contact with us</span>
                    </a>
                </div>
            </div>
        </div>
    </section> 
	{% endblock %}
	