{% extends 'templating.html' %}
{% load static %}
	{% block metatag %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management Services in Dehradun| Kib Technologies Marketing Company</title>
    <meta name="Description" content="If you are looking out for cinema advertising agencies in Dehradun Kib Technologies Is here for you.">
    <meta name="Keywords" content="Cinema Advertising, cinema Branding, Cinema advertising in Dehradun">
    <meta name="author" content="Sumit Tiwari">
    <meta name="publisher" content="Kib Technologies">	
	{% endblock %}
    {% block navtag %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About Us</a></li>
    <li ><a href="{% url 'products' %}">Product</a></li>
    <li class="dropdown current"><a href="#">Services</a>
        <ul>
            <li class="dropdown current"><a href="{% url 'it_services' %}">IT Services</a>
                <ul>
                    <li><a href="{% url 'web_development' %}"> Web Development</a></li>
                    <li><a href="{% url 'mobile_app_development' %}">Mobile App Development</a></li>
                    <li><a href="{% url 'software_development' %}">Software Development</a></li>
                    <li><a href="{% url 'game_development' %}">Game Development</a></li>
                    <li><a href="{% url 'cyber_security' %}">Cyber Security</a></li>
                    
                </ul>
            </li>
            
        </ul>
    </li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
    <li><a href="{% url 'career' %}">Career</a></li> 
    <li><a href="{% url 'contact' %}">Contact Us</a></li> 
    {% endblock %}
	{% block content %}
    <section class="page-banner">
        <div class="image-layer" style="background-image:url({% static 'images/kib_technologies_breadcrums_banner.jpg' %});"></div>
        <div class="shape-1"></div>
        <div class="shape-2"></div>
        <div class="banner-inner">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <h1>Event Management</h1>
                    <div class="page-nav">
                        <ul class="bread-crumb clearfix">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'marketing_services' %}">Marketing Services</a></li>
                            <li class="active">Event Management</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="service-details">
                        <div class="text-content">
                            <h3>Event Managment</h3>
                            <p align= "justify">We are one of the Top Corporate Event Planners and coordinator's in Dehradun and close by regions with our best occasion administrations accessible in all over India and furthermore in Cyprus and Turkey. With a dream of making a brand insight through occasions innovation and thoughts. We do everything to make a noteworthy encounters and marking openings that surpass client desires. We invest heavily in introducing them ourselves as truly outstanding in the corporate occasion industry. 
                            <br>We offer each sort of occasion arranging administration. Regardless of whether you need an occasion for an item or brand dispatch, time to praise your accomplishments or essentially to inspire your representatives, we help you inside and out
                            </p>
                            
                        </div>
                    </div>
                    <div class="main-image image">
                        <img src="{% static 'images/services/kib-event-management-services.jpg' %}" alt="kib-event-management-services">
                    </div>
                    <div class="text-content" style=" margin-top: 70px;">
                        <h6>Event Planning Services.</h6>
                        <li>Corporate Events.</li>
                        <li>Entertainment Events</li>
                        <li>Charity Events.</li>
                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar blog-sidebar">

                        <div class="sidebar-widget services">
                            <div class="widget-inner">
                                <div class="sidebar-title">
                                    <h4>IT Services</h4>
                                </div>
                                <ul>
                                    <li><a href="{% url 'web_development' %}"> Web Development</a></li>
                                    <li><a href="{% url 'mobile_app_development' %}">Mobile App Development</a></li>
                                    <li><a href="{% url 'software_development' %}">Software Development</a></li>
                                    <li><a href="{% url 'game_development' %}">Game Development</a></li>
                                    <li><a href="{% url 'cyber_security' %}">Cyber Security</a></li>
                                    
                                </ul>
                            </div>
                        </div>

                        <div class="sidebar-widget services">
                            <div class="widget-inner">
                                <div class="sidebar-title">
                                    <h4>Marketing Services</h4>
                                </div>
                                <ul>
                                    <li><a href="{% url 'cinema_branding' %}">Cinema Branding</a></li>
                                    <li><a href="{% url 'digital_marketing' %}">Digital Marketing</a></li>
                                    <li><a href="{% url 'out_of_home_ads' %}">Out of Home Advertising</a></li>
                                    <li class="active"><a href="{% url 'event_managment' %}">Event Managment</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="sidebar-widget call-up">
                            <div class="widget-inner">
                                <div class="sidebar-title">
                                    <h4>Have a Query ?</h4>
                                </div>
                                <div class="text">For any query feel free to call us we will be available for 24 Hours.</div>
                                <div class="phone"><a href="tel:+91 7454007455"><span class="icon flaticon-call"></span>+91 7454007455</a></div>
                            </div>
                        </div>
                    </aside>
                </div>

            </div>
        </div>
    </div>
    <section class="call-to-section-two alternate">
        <div class="auto-container">
            <div class="inner clearfix">
                <h2>We’re Ready to Bring Bigger <br>&amp; Stronger Projects</h2>
                <div class="link-box">
                    <a class="theme-btn btn-style-two" href="{% url 'contact' %}">
                        <i class="btn-curve"></i>
                        <span class="btn-title">Contact with us</span>
                    </a>
                </div>
            </div>
        </div>
    </section> 
	{% endblock %}