<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        
       <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-RCY6EB1K6D"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-RCY6EB1K6D');
        </script>
        
        <script data-ad-client="ca-pub-2775900182462614" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        
        
        {% block metatag %}
        <title>Kib Technologies |Best Marketing & IT Services Company in India</title>
        {% endblock %}
        <!-- favicon icon -->
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/favicon/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicon/manifest.json' %}">
        <meta name="msapplication-TileImage" content="{% static 'images/favicon/ms-icon-144x144.png' %}">

        <!-- Stylesheets -->
        <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet">
        <link href="{% static 'css/owl.css' %}" rel="stylesheet">
        <link href="{% static 'css/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'css/animate.css' %}" rel="stylesheet">
        <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
        <link href="{% static 'css/jquery.fancybox.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/hover.css' %}" rel="stylesheet">
        <link href="{% static 'css/custom-animate.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- Responsive File -->
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

         <!-- Responsive Settings -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NFDDWXZ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lazyloadjs/3.2.2/lazyload.min.js" integrity="sha512-3WLY2nDlx1c6leUk3gyqneF+bWq4Ub/HsGjmJoo7qRlMFMXcOwzw6gqf+PwKLzd/TUjWlpSaHBy6L6o1hS2y9g==" crossorigin="anonymous"></script>
        <div class="page-wrapper">
            <!-- Preloader -->
            <div class="preloader">
                <div class="icon"></div>
            </div>
    
            <!-- Main Header -->
            <header class="main-header header-style-one">
    
                <!-- Header Upper -->
                <div class="header-upper">
                    <div class="inner-container clearfix">
                        <!--Logo-->
                        <div class="logo-box">
                            <div class="logo">
                                <a href="{% url 'index' %}" title="Kib Technologies Marketing & IT Company">
                                    <img data-src="{% static 'images/logo.png' %}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="lzld(this)" width="150px;" alt="Kib Technologies Marketing & IT Company" title="Kib Technologies Marketing & IT Company">
                                </a>
                            </div>
                        </div>
                        <div class="nav-outer clearfix">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler"><span class="icon flaticon-menu-2"></span><span
                                    class="txt">Menu</span></div>
    
                            <!-- Main Menu -->
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        {% block navtag %}

                                        {% endblock %}
                                    </ul>
                                </div>
                            </nav>
                        </div>
    
                        <div class="other-links clearfix">
                            <div class="link-box">
                            <div class="call-us">
                                <a class="link" href="{% url 'login' %}">
                                    <span class="number">Sign In</span>
                                </a>
                            </div>
                        </div>
    
                    </div>
                </div>
                <!--End Header Upper-->
    
            </header>
            <!-- End Main Header -->
    
            <!--Mobile Menu-->
            <div class="side-menu__block">
    
    
                <div class="side-menu__block-overlay custom-cursor__overlay">
                    <div class="cursor"></div>
                    <div class="cursor-follower"></div>
                </div><!-- /.side-menu__block-overlay -->
                <div class="side-menu__block-inner ">
                    <div class="side-menu__top justify-content-end">
                        <a href="#" class="side-menu__toggler side-menu__close-btn">
                            <img data-src="{% static 'images/icons/close-1-1.png' %}" alt="close-icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="lzld(this)"></a>
                    </div><!-- /.side-menu__top -->
    
    
                    <nav class="mobile-nav__container">
                        <!-- content is loading via js -->
                    </nav>
                    <div class="side-menu__sep"></div><!-- /.side-menu__sep -->
                    <div class="side-menu__content">
                        <p>KIB has a very authentic vision to develop the IT & marketing industry in north India and all over the globe. KIB also works to provide the skills for the upcoming generation under the mission of skill India development.</p>
                        <p><a href="mailto:info.kibtech@gmail.com">info.kibtech@gmail.com</a> <br> <a href="tel:+91 7454007455">+91 7454007455</a></p>
                        <div class="side-menu__social">
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div><!-- /.side-menu__content -->
                </div><!-- /.side-menu__block-inner -->
            </div><!-- /.side-menu__block -->
    
            <!--Search Popup-->
            <div class="search-popup">
                <div class="search-popup__overlay custom-cursor__overlay">
                    <div class="cursor"></div>
                    <div class="cursor-follower"></div>
                </div><!-- /.search-popup__overlay -->
                <div class="search-popup__inner">
                    <form action="#" class="search-popup__form">
                        <input type="text" name="search" placeholder="Type here to Search....">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div><!-- /.search-popup__inner -->
            </div><!-- /.search-popup -->
            {% block content %}
            
            {% endblock %}
            <!-- Main Footer -->
            <footer class="main-footer">
                <div class="auto-container">
                    <!--Widgets Section-->
                    <div class="widgets-section">
                        <div class="row clearfix">

                            <!--Column-->
                            <div class="column col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
                                    <div class="widget-content">
                                        <div class="logo">
                                            <a href="{% url 'index' %}"><img id="fLogo" data-src="{% static 'images/logo.png' %}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="lzld(this)" alt="kib_logo" /></a>
                                        </div>
                                        <div class="text">Welcome to KIB Technologies. We believe in building relations through performance.</div>
                                        <ul class="social-links clearfix">
                                            <li><a href="https://www.facebook.com/kibristech29"><span class="fab fa-facebook-square"></span></a></li>
                                            <li><a href="https://twitter.com/KibTechnologies"><span class="fab fa-twitter"></span></a></li>
                                            <li><a href="https://www.instagram.com/kibtechnologies/"><span class="fab fa-instagram"></span></a></li>
                                            <li><a href="https://www.linkedin.com/company/kib-technologies/"><span class="fab fa-linkedin"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--Column-->
                            <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <div class="widget-content">
                                        <div class="row clearfix">
                                            <div class="col-md-6 col-sm-12">
                                                <h6>Our Services</h6>
                                                <ul>
                                                    <li><a href="{% url 'web_development' %}">Web Development</a></li>
                                                    <li><a href="{% url 'mobile_app_development' %}">Moblie App Development</a></li>
                                                    <li><a href="{% url 'software_development' %}">Software Development</a></li>    
                                                    <li><a href="{% url 'cinema_branding' %}">Cinema Branding</a></li>
                                                    <li><a href="{% url 'digital_marketing' %}">Digital Marketing</a></li>
                                                    <li><a href="{% url 'out_of_home_ads' %}">Out of Home Advertising</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <h6>Other Links</h6>
                                                <ul>
                                                    <li><a href="{% url 'returns' %}">Products</a></li>
                                                    <li><a href="{% url 'returns' %}">Privacy Policy</a></li>
                                                    <li><a href="{% url 'returns' %}">Return Policy</a></li>
                                                    <li><a href="{% url 'returns' %}">Site Map</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Column-->
                            <div class="column col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget info-widget">
                                    <div class="widget-content">
                                        <h6>Contact</h6>
                                        <ul class="contact-info">
                                            <li class="address"><span class="icon flaticon-pin-1"></span> KIB Technologies, Majra, Dehradun, Uttarakhand <br>India - 248001</li>
                                            <li><span class="icon flaticon-call"></span><a href="tel:+91 7454007455">+91 7454007455</a></li>
                                            <li><span class="icon flaticon-email-2"></span><a href="mailto:info.kibtech@gmail.com">info.kibtech@gmail.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--Column-->
                            <div class="column col-xl-2 col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget newsletter-widget">
                                    <div class="widget-content">
                                        <h6>Newsletter</h6>
                                        <div class="newsletter-form">
                                            <form method="post" action="http://layerdrops.com/linoorhtml/contact.html">
                                                <div class="form-group clearfix">
                                                    <input type="email" name="email" value="" placeholder="Email Address"
                                                        required="">
                                                    <button type="submit" class="theme-btn"><span
                                                            class="fa fa-envelope"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="text">Sign up for our latest news & articles. We won’t give you spam
                                            mails.</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <!-- Footer Bottom -->
                <div class="footer-bottom">
                    <div class="auto-container">
                        <div class="inner clearfix">
                            <div class="copyright">&copy; copyright 2016-2020 by KIB Technologies</div>
                        </div>
                    </div>
                </div>

            </footer>

        </div>
        <!--End pagewrapper-->

        <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>



        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/TweenMax.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'js/jquery.fancybox.js' %}"></script>
        <script src="{% static 'js/owl.js' %}"></script>
        <script src="{% static 'js/mixitup.js' %}"></script>
        <script src="{% static 'js/appear.js' %}"></script>
        <script src="{% static 'js/wow.js' %}"></script>
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'js/custom-script.js' %}"></script>


        <script src="{% static 'js/lang.js' %}"></script>
        <script src="{% static 'js/color-switcher.js' %}"></script>
    </body>

</html>